<h1>Login de Usuario</h1>	
<form id="login-form" method="POST">	
  <label for="username">Ingrese su nombre</label>	
  <input type="text" name="username" id="username" />
  <button type="submit" name="save" id="save">Enviar</button>	
</form>	

<script type="text/javascript">	
  
</script>	

<a href="/">Productos</a>